<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Onfido SDK Demo</title>
    <meta name="viewport" content="width=device-width,minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>My App</title>
  </head>
  <body>
    <div
      class="container h-100 d-flex justify-content-center align-items-center"
    >
      <form
        action="/submit"
        method="post"
        class="text-center border border-light p-5 form rounded"
      >
        <p class="h4 mb-4">Enter your information</p>

        <div class="form-group text-left">
          <label for="firstName">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter your first name"
            required
          />
        </div>

        <div class="form-group text-left">
          <label for="lastName">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Enter your last name"
            required
          />
        </div>

        <div class="form-group text-left">
          <label for="workflowId">Workflow ID:</label>
          <input
            type="text"
            class="form-control"
            id="workflowId"
            name="workflowId"
            placeholder="Enter a workflow ID"
          />
        </div>


        <div class="form-group text-left">
          <label for="apiToken">API token:</label>
          <input
            type="password"
            class="form-control"
            id="apiToken"
            name="apiToken"
            placeholder="Enter an apiToken"
          />
        </div>

        <div class="form-group text-left">
          <label for="applicantId">Use existing Applicant Id?:</label>
          <input
            type="text"
            class="form-control"
            id="applicantId"
            name="applicantId"
            placeholder="Enter an Applicant Id"
          />
        </div>

        <div class="form-group text-left">
          <label for="disableWelcomeScreen">disableWelcomeScreen [Y|N] </label>
            <input type="text"  class="form-control"
            id="disableWelcomeScreen"
            name="disableWelcomeScreen" pattern="[Yy]|[Nn]" required/>
        
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div>
  </body>
</html>
