<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8"><title>Onfido SDK Demo</title>
    <meta name="viewport" content="width=device-width,minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Onfido SDK Demo</title>
    <link rel="stylesheet" type="text/css" href="https://assets.onfido.com/web-sdk-releases/13.0.0/style.css"/>
    <script type="text/javascript" src="https://assets.onfido.com/web-sdk-releases/13.0.0/onfido.min.js"></script>
  </head>
  <body>
    <div id="onfido-mount"></div>
    
    <script type="text/javascript">
      //<![CDATA[
      addEventListener('userAnalyticsEvent', (event) => console.log(event.detail));
      Onfido.init({
        useModal: false,
        disableWelcomeScreen: true,
        token: "<%= sdkToken %>",
        onComplete: function (data) {
          console.log(data)
          // callback for when everything is complete
          console.log("everything is complete");
        },
        workflowRunId: "<%= workflowRunId %>",
      });
      //]]>
    </script>
  </body>
</html>
 